<div class="flex flex-col gap-y-10">
  <header>
    <h1><%= @post.title %></h1>
    <p class="text-sm text-gray-500"><%= @post.categories |> Enum.join(", ") %></p>
  </header>
  <div>
    <%= raw @post.body %>
  </div>
</div>
