@import "./openprops.css";
/* @import "./normalize.css"; */
@import "./base.css";
@import "./root.css";
@import "./blog.css";

/*
The styling of this website follows the Enduring CSS methodology, https://ecss.benfrain.com,
using variables from Open Props, https://open-props.style.

As a cheatsheet, the naming convention for Enduring CSS is:

.[namespace][-ModuleOrComponent][_ChildNode][-variant]
*/

:root {
  line-height: var(--size-7);
  font-family:"PT Serif",serif;
  font-size: var(--font-size-3);
  /* font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif; */
}

