.pp-Posts {
  & > * + * {
    margin-top: var(--size-10)
  }
}

.pp-Post {
  & > * + * {
    margin-top: var(--size-1)
  }
}

.pp-Post_Title {
  margin-bottom: var(--size-1);
}

.pp-Post_Date {
  font-size: var(--font-size-1);
  color: var(--stone-7);
}

.pp-Post_Description {

}

.pp-Post_Tags {
  color: var(--indigo-5);
}
