@media (width >= 768px) {
  .pp-Body {
    max-width: var(--size-md);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--size-5);
  }
}

.pp-Body {
  max-width: var(--size-md);
  margin-left: auto;
  margin-right: auto;
  padding: var(--size-5);
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  & > * + * {
    margin-left: var(--size-6);
  }
}

@media(prefers-color-scheme: dark) {
  .pp-Body {
    background-color: var(--gray-11);
  }
}

.pp-Main {
  & > * + * {
    margin-top: var(--size-7);
  }
}

.pp-Navigation {
  flex-shrink: 0;
  padding-top: var(--size-2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  height: auto;

  & > a {
    text-decoration: none;
  }

  & > a:hover {
    text-decoration: underline;
  }
}

.pp-Navigation_Link {
  justify-self: end;
}


.pp-Navigation_Title {
  display: block;
  text-decoration: none;
  font-weight: 600;
}

@media(prefers-color-scheme: dark) {
  .pp-Navigation_Title {
    color: var(--gray-3);
  }
}

.pp-Footer_Navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: var(--font-size-1);
  padding-top: var(--size-8);

  & > * + * {
    margin-left: 0.75rem;
  }
}
