@media (width >= 768px) {
  .pp-Body {
    max-width: var(--size-md);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--size-5);
  }
}

.pp-Body {
  max-width: var(--size-md);
  margin-left: auto;
  margin-right: auto;
  padding: var(--size-5);

  & > * + * {
    margin-top: var(--size-6);
  }
}

.pp-Main {
  & > * + * {
    margin-top: var(--size-7);
  }
}

.pp-Header_Navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* & :first-child {
    margin-right: auto;
  } */

  & > * + * {
    margin-top: 0.75rem;
  }
}

.pp-Header_Navigation-Avatar {
  height: var(--size-8);
  border-radius: 50%;
}

.pp-Header_Navigation-Title {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.85rem;
  color: var(--gray-7);
}

.pp-Header_Navigation-Description {
  color: var(--gray-7);
  font-size: 0.85rem;
  text-align: center;

}

.pp-Footer_Navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: var(--font-size-1);
  padding-top: var(--size-8);

  & > * + * {
    margin-left: 0.75rem;
  }
}

.pp-Footer_Navigation-Item {
}
