<div class="space-y-5">
  <p>Hola 👋.</p>

  <p>
    We are <a href="https://twitter.com/mjsesalm" target="_blank"><b>María José Salmerón</b></a> and <a href="https://twitter.com/pepicrft" target="_blank"><b>Pedro Piñera</b></a>,
    the couple behind the Pepicrft organization. We are from a small region in the south of Spain, <a href="https://www.wikipedia.org/" target="_blank">Murcia</a> 🍋, but live in Berlin 🇩🇪 where we work as Localization Program Manager and Senior Staff Developer respectively.
  </p>

  <p>
    Pepicrft is an <b><a href="https://purpose-economy.org/en/whats-steward-ownership/" target="_blank">purpose-driven organization</a></b> that crafts <a href="https://de.wikipedia.org/wiki/Free/Libre_Open_Source_Software">free and libre open-source software</a>. We believe open-source is a powerful tool to build more human and long-term suistainable tools.
  </p>
</div>
