<div class="mx-auto max-w-7xl px-8 py-12 text-black dark:text-white">
  <div class="mx-auto max-w-xl">
    <div class="flex flex-col gap-y-5">
      <header>
        <h1 class="mb-0 text-xl font-bold">Blog</h1>
      </header>
      <main class="markdown dark:text-neutral-400 space-y-3 mt-3 text-base font-normal">
        <.posts_component posts={Pepicrft.Blog.all_posts()}/>
      </main>
    </div>
  </div>
</div>
