<div class="py-12 text-black dark:text-white">
  <h2 class="text-black dark:text-white" id="blog">
      <a href="#blog" class="no-underline">Blog</a>
    </h2>
    <main class="markdown dark:text-neutral-400 space-y-3 mt-3 text-base font-normal">
      <.posts_component posts={Pepicrft.Blog.all_posts()}/>
    </main>
</div>
