
<% date_as_string = Timex.format!(@post.date, "%Y.%m.%d", :strftime) %>
<h1 class="pp-Post_Title"><%= @post.title %></h1>
<p class="pp-Post_TimeAgo"><%= date_as_string %></p>

<div class="pp-Post_Body">
  <%= raw @post.body %>
</div>
