<div>
  <p>Hola 👋.</p>

  <p>
    It's <a href="https://twitter.com/pepicrft" target="_blank"><b>Pedro</b></a>, a software crafter based in Berlin 🇩🇪.
    I work as a Senior Staff Developer at <a href="https://shopify.com" target="_blank">Shopify</a> and like tinkering with technologies like Javascript, Elixir, Ruby, and Swift.
  </p>

  <h2>Latest posts</h2>
  <.posts_component posts={Pepicrft.Blog.all_posts()} take={10}/>
</div>
