<h1>Mastodon</h1>
<p>The toots here are surfaced from my <a href="https://masto.pepicrft.me/@pedro">Mastodon account</a>.</p>

<section class="pp-Mastodon-List">
  <article :for={status <- @statuses}>
    <%= raw status["content"] %>
  </article>
</section>
