<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag get_metadata(@conn)[:title] %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>

    <!-- Meta -->
    <%= render "meta.html", assigns %>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

    <!-- Feed -->
    <link rel="alternate" type="application/rss+xml" title={Application.fetch_env!(:craftweg, :metadata).title} href={feed_url}>
  </head>
  <body class="font-serif space-y-6">
    <header class="py-4 font-sans">
      <div class="flex mx-0 gap-x-3 px-7 sm:max-w-4xl sm:mx-auto">
          <img src={Routes.static_url(@conn, "/images/logo-rounded.png")} class="h-6 w-6"/>
          <a class="no-underline text-rose-700 visited:text-rose-700 font-bold" href={CraftwegWeb.Router.Helpers.page_path(@conn, :index)}>Craftweg</a>
          <a class="no-underline text-gray-800 visited:text-gray-800" href={CraftwegWeb.Router.Helpers.about_path(@conn, :show)}>About</a>
          <div class="flex-1"/>

          <!-- Links -->
          <section class="flex flex-row">
            <a class="no-underline text-gray-800 visited:text-gray-800">

            </a>
            <a class="no-underline text-gray-800 visited:text-gray-800" href={CraftwegWeb.Router.Helpers.blog_path(@conn, :feed)}>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
              </svg>
            </a>
          </section>
      </div>
    </header>
    <main class="py-16 leading-8 mx-0 px-7 sm:max-w-4xl sm:mx-auto">
      <%= @inner_content %>
    </main>
  </body>
</html>
