<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag get_metadata(@conn)[:title] %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>

    <!-- Meta -->
    <%= render "meta.html", assigns %>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

    <!-- Feed -->
    <link rel="alternate" type="application/rss+xml" title={Application.fetch_env!(:craftweg, :metadata).title} href={feed_url}>
  </head>
  <body class="font-serif">
    <header class="bg-green-300 py-4">
      <div class="flex max-w-4xl mx-auto">
        <a href="/">Craftweg</a>

          <div class="flex-1"/>

          <!-- Links -->
          <section>
              <a href="/about">About</a>
              <a href="/blog/feed.xml">RSS</a>
          </section>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
