@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-gray-800;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans;
}

h1 {
  @apply text-3xl;
  @apply my-6
}
h2 {
  @apply text-2xl;
  @apply my-5;
}
h3 {
  @apply text-xl;
  @apply my-4;
}
h4 {
  @apply text-xl;
  @apply my-3;
}
h5 {
  @apply text-lg;
  @apply my-3;
}
h6 {
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.2;
}

a {
  @apply underline;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 2rem;
  position: relative;
  width: 100%;
}

select {
  width: auto;
}

ul {
  @apply list-disc pl-10;
}

.markdown > * + * {
  @apply mt-5;
}

.markdown > li + li  {
  @apply mt-5;
}

.markdown li > p + p {
  @apply mt-5;
}

.markdown strong {
  @apply text-black dark:text-white font-semibold;
}

.markdown a {
  @apply underline;
}

.markdown strong a {
  @apply font-semibold;
}

.markdown h1 {
  @apply text-xl font-bold text-black mb-2 mt-10;
}

.markdown h2 {
  @apply text-base font-bold text-black mb-2 mt-10;
}

.markdown h3 {
  @apply text-base font-semibold text-black mt-8 -mb-2;
}

.markdown h4 {
  @apply text-base font-medium text-black mt-8 -mb-2;
}

.markdown blockquote {
  @apply border-l-4 pl-4 italic;
}

.markdown ul {
  @apply pl-5;
  @apply sm:pl-10;
}

.markdown ol {
  @apply pl-5;
  @apply sm:pl-10;
}

.markdown pre code {
  @apply block p-4 rounded text-xs;
}

.markdown code {
  @apply font-mono text-base inline px-1;
}

.markdown pre {
  @apply my-10 !important;
}

code.inline {
  @apply text-gray-700 bg-gray-100 dark:bg-neutral-500 dark:text-gray-300 rounded text-xs
}
