<h1>~/craftweg.com/src</h1>
<p>Empowering people through open-source craftsmanship</p>

<!-- Links -->
<section>
    <a href="/about">About</a>
    <a href="/atom.xml">RSS</a>
</section>

<!-- Blog posts -->
<section>

<%= for post <- posts() do %>
    <article>
        <div><%= post.title  %></div>
        <% {:ok, time_ago_date} = Elixir.Timex.Format.DateTime.Formatters.Relative.format(post.date, "{relative}") %>
        <div><%= time_ago_date %></div>
    </article>
<% end %>

</section>
