<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={get_csrf_token()}>
    <link phx-track-static rel="stylesheet" href="/styles/app.css"/>
    <script defer phx-track-static type="text/javascript" src="/assets/app.js"></script>

    <!-- Meta -->
    <.meta conn={@conn}/>

    <!-- Feed -->
    <link rel="alternate" type="application/rss+xml" title={Application.fetch_env!(:pepicrft, :metadata) |> Keyword.fetch!(:title)} href={feed_url()}>

    <!-- Prism css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-lucario.min.css">

    <!-- Atom -->
    <link href={~p"/blog/feed.xml"} type="application/atom+xml" rel="alternate" title="Atom feed" />

    <!-- Prism -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/autoloader/prism-autoloader.min.js"></script>
  </head>

  <body class="pp-Body">
    <header>
      <nav class="pp-Header_Navigation">
        <a href={~p"/"}>Pedro Piñera</a>
        <a href={~p"/blog"}>Blog</a>
        <a href={~p"/about"}>About</a>
        <a href={~p"/blog/feed.xml"}>Feed</a>
      </nav>
    </header>

    <main>
      <%= @inner_content %>
    </main>

    <footer>
      <nav class="pp-Footer_Navigation">
        <a href={~p"/"}>Pedro Piñera</a>
        <a href="https://x.com/pepicrft" target="_blank">X</a>
        <a href="https://mastodon.social/@pepicrft" target="_blank">Mastodon</a>
        <a href="https://www.linkedin.com/in/pedro-piñera-buendia-9765a9125/" target="_blank">LinkedIn</a>
        <a href="https://github.com/pepicrft" target="_blank">GitHub</a>
      </nav>
    </footer>
  </body>
</html>
